In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('Train.csv')

In [36]:
test = pd.read_csv('Test.csv')

In [4]:
ss = pd.read_csv('SampleSubmission.csv')

In [5]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [6]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 10086 non-null  object
 1   year                    10086 non-null  int64
 2   uniqueid                10086 non-null  object
 3   location_type           10086 non-null  object
 4   cellphone_access        10086 non-null  object
 5   household_size          10086 non-null  int64
 6   age_of_respondent       10086 non-null  int64
 7   gender_of_respondent    10086 non-null  object
 8   relationship_with_head  10086 non-null  object
 9   marital_status          10086 non-null  object
 10  education_level         10086 non-null  object
 11  job_type                10086 non-null  object
dtypes: int64(3), object(9)
memory usage: 945.7+ KB

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
labE = LabelEncoder()

In [11]:
train['bank_account'] = labE.fit_transform(train['bank_account'])

In [12]:
train1 = train[['country','year','uniqueid','location_type','cellphone_access','household_size','age_of_respondent','gender_of_respondent','relationship_with_head','marital_status','education_level','job_type']]

In [13]:
test1 = test[['country','year','uniqueid','location_type','cellphone_access','household_size','age_of_respondent','gender_of_respondent','relationship_with_head','marital_status','education_level','job_type']]

In [14]:
for i in train1:
    train[i] = labE.fit_transform(train1[i])

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  int32
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  int32
 3   bank_account            23524 non-null  int32
 4   location_type           23524 non-null  int32
 5   cellphone_access        23524 non-null  int32
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  int32
 9   relationship_with_head  23524 non-null  int32
 10  marital_status          23524 non-null  int32
 11  education_level         23524 non-null  int32
 12  job_type                23524 non-null  int32
dtypes: int32(10), int64(3)
memory usage: 1.4 MB

In [16]:
for i in test1:
    test[i] = labE.fit_transform(test1[i])

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 10086 non-null  int32
 1   year                    10086 non-null  int64
 2   uniqueid                10086 non-null  int32
 3   location_type           10086 non-null  int32
 4   cellphone_access        10086 non-null  int32
 5   household_size          10086 non-null  int64
 6   age_of_respondent       10086 non-null  int64
 7   gender_of_respondent    10086 non-null  int32
 8   relationship_with_head  10086 non-null  int32
 9   marital_status          10086 non-null  int32
 10  education_level         10086 non-null  int32
 11  job_type                10086 non-null  int32
dtypes: int32(9), int64(3)
memory usage: 591.1 KB

# SPLITING

In [18]:
X = train.drop('bank_account', axis = 1)
y = train['bank_account']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [19]:
from sklearn.linear_model import LogisticRegression

logm = LogisticRegression()

logm.fit(X_train, y_train)

C:\Users\me.DESKTOP-6VU6067\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
from sklearn.naive_bayes import GaussianNB

nm = GaussianNB()

nm.fit(X_train, y_train)

GaussianNB()

In [21]:
from sklearn.ensemble import RandomForestClassifier

rfm = RandomForestClassifier()

rfm.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
from sklearn.svm import SVC

svm = SVC()

svm.fit(X_train, y_train)

SVC()

In [23]:
from sklearn.neighbors import KNeighborsClassifier

knc = KNeighborsClassifier()

knc.fit(X_train, y_train)

KNeighborsClassifier()

In [24]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [25]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()

gbc.fit(X_train, y_train)

GradientBoostingClassifier()

In [26]:
log_prediction = logm.predict(X_test)
nm_prediction = nm.predict(X_test)
rfm_prediction = rfm.predict(X_test)
svm_prediction = svm.predict(X_test)
knc_prediction = knc.predict(X_test)
dtc_prediction = dtc.predict(X_test)
gbc_prediction = gbc.predict(X_test)

from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(y_test, log_prediction)*100

86.90754516471839

In [28]:
accuracy_score(y_test, nm_prediction)*100

84.82465462274178

In [29]:
accuracy_score(y_test, rfm_prediction)*100

88.35281615302868

In [30]:
accuracy_score(y_test, svm_prediction)*100

86.39744952178533

In [31]:
accuracy_score(y_test, knc_prediction)*100

84.9096705632306

In [32]:
accuracy_score(y_test, dtc_prediction)*100

82.35919234856536

In [33]:
accuracy_score(y_test, gbc_prediction)*100

89.22422954303933

In [34]:
Grad = gbc.predict(test)
Grad

array([1, 1, 0, ..., 0, 0, 0])

In [37]:
Final = pd.DataFrame({'unique_id': test['uniqueid'] + ' x ' +test['country'], 'bank_account': Grad})

In [38]:
Final

                    unique_id  bank_account
0       uniqueid_6056 x Kenya             1
1       uniqueid_6060 x Kenya             1
2       uniqueid_6065 x Kenya             0
3       uniqueid_6072 x Kenya             0
4       uniqueid_6073 x Kenya             0
...                       ...           ...
10081  uniqueid_2998 x Uganda             0
10082  uniqueid_2999 x Uganda             0
10083  uniqueid_3000 x Uganda             0
10084  uniqueid_3001 x Uganda             0
10085  uniqueid_3002 x Uganda             0

[10086 rows x 2 columns]

In [39]:
Final.to_csv('my prediction4.csv', index = False)

In [40]:
Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10086 entries, 0 to 10085
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unique_id     10086 non-null  object
 1   bank_account  10086 non-null  int32
dtypes: int32(1), object(1)
memory usage: 118.3+ KB

In [ ]:
import pickle
filename = 'insurance_prediction.sav'
pickle.dump(decision_model, open(filename, 'wb'))