In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import metrics
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
labE = LabelEncoder()
labB = LabelBinarizer()

In [2]:
train = pd.read_csv('train_data.csv')  
test = pd.read_csv('test_data.csv')
ss = pd.read_csv('SampleSubmission1.csv')
var = pd.read_csv('VariableDescription.csv')

In [3]:
train.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [4]:
test.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,H11920,2013,1.000000,0,V,N,O,R,300.0,1,1960.0,3,3310
1,H11921,2016,0.997268,0,V,N,O,R,300.0,1,1960.0,3,3310
2,H9805,2013,0.369863,0,V,V,V,U,790.0,1,1960.0,.,3310
3,H7493,2014,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321
4,H7494,2016,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321

In [5]:
ss.head()

  Customer Id  Claim
0          H0      1
1      H10000      1
2      H10001      1
3      H10002      1
4      H10003      1

In [6]:
var['Description']

0           Identification number for the Policy holder
1            year of observation for the insured policy
2     duration of insurance policy in Olusola Insura...
3         is the building a residential building or not
4     is the building painted or not (N-Painted, V-N...
5     is the building fence or not (N-Fenced, V-Not ...
6     building has garden or not (V-has garden; O-no...
7     Area where the building is located. (R- rural ...
8                    Size of the insured building in m2
9                The type of building (Type 1, 2, 3, 4)
10                     date building was first occupied
11                    number of windows in the building
12            Geographical Code of the Insured building
13    target variable. (0: no claim, 1: at least one...
Name: Description, dtype: object

In [7]:
train.drop(['Customer Id', 'Garden'], axis=1, inplace=True)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7160 non-null   int64
 1   Insured_Period      7160 non-null   float64
 2   Residential         7160 non-null   int64
 3   Building_Painted    7160 non-null   object
 4   Building_Fenced     7160 non-null   object
 5   Settlement          7160 non-null   object
 6   Building Dimension  7054 non-null   float64
 7   Building_Type       7160 non-null   int64
 8   Date_of_Occupancy   6652 non-null   float64
 9   NumberOfWindows     7160 non-null   object
 10  Geo_Code            7058 non-null   object
 11  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 671.4+ KB

In [9]:
test.drop(['Customer Id','Garden'], axis = 1, inplace = True)

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   3069 non-null   int64
 1   Insured_Period      3069 non-null   float64
 2   Residential         3069 non-null   int64
 3   Building_Painted    3069 non-null   object
 4   Building_Fenced     3069 non-null   object
 5   Settlement          3069 non-null   object
 6   Building Dimension  3056 non-null   float64
 7   Building_Type       3069 non-null   int64
 8   Date_of_Occupancy   2341 non-null   float64
 9   NumberOfWindows     3069 non-null   object
 10  Geo_Code            3056 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 263.9+ KB

In [11]:
train.isnull().sum()

YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [12]:
test.isnull().sum()

YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Settlement              0
Building Dimension     13
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

In [13]:
# train['Building Dimension'].mean()

In [14]:
train['Building Dimension'] = train['Building Dimension'].fillna(train['Building Dimension'].mean())

In [15]:
train['Date_of_Occupancy'] = train['Date_of_Occupancy'].fillna(train['Date_of_Occupancy'].mean())

In [16]:
train['Geo_Code'] = train['Geo_Code'].fillna(train['Geo_Code'].mode()[0])

In [17]:
# train['Garden'] = train['Garden'].fillna(train['Garden'].mode()[0])

In [18]:
train.isnull().sum()

YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Settlement            0
Building Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
Claim                 0
dtype: int64

In [19]:
# test['Garden'] = test['Garden'].fillna(test['Garden'].mode()[0])
test['Building Dimension'] = test['Building Dimension'].fillna(test['Building Dimension'].mean())
test['Date_of_Occupancy'] = test['Date_of_Occupancy'].fillna(test['Date_of_Occupancy'].mean())
test['Geo_Code'] = test['Geo_Code'].fillna(test['Geo_Code'].mode()[0])

In [20]:
test.isnull().sum()

YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Settlement            0
Building Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
dtype: int64

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7160 non-null   int64
 1   Insured_Period      7160 non-null   float64
 2   Residential         7160 non-null   int64
 3   Building_Painted    7160 non-null   object
 4   Building_Fenced     7160 non-null   object
 5   Settlement          7160 non-null   object
 6   Building Dimension  7160 non-null   float64
 7   Building_Type       7160 non-null   int64
 8   Date_of_Occupancy   7160 non-null   float64
 9   NumberOfWindows     7160 non-null   object
 10  Geo_Code            7160 non-null   object
 11  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 671.4+ KB

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   3069 non-null   int64
 1   Insured_Period      3069 non-null   float64
 2   Residential         3069 non-null   int64
 3   Building_Painted    3069 non-null   object
 4   Building_Fenced     3069 non-null   object
 5   Settlement          3069 non-null   object
 6   Building Dimension  3069 non-null   float64
 7   Building_Type       3069 non-null   int64
 8   Date_of_Occupancy   3069 non-null   float64
 9   NumberOfWindows     3069 non-null   object
 10  Geo_Code            3069 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 263.9+ KB

# ENCODING DATA

In [23]:
train['Building_Painted'] = train['Building_Painted'].replace({'N': 1, 'V':0})

In [24]:
train['Building_Fenced'] = train['Building_Fenced'].replace({'N': 1, 'V':0})

In [25]:
train['Settlement'] = train['Settlement'].replace({'R': 1, 'U':0})

In [26]:
train['NumberOfWindows'] = labE.fit_transform(train['NumberOfWindows'])

In [27]:
train['Geo_Code'] = labE.fit_transform(train['Geo_Code'])

In [28]:
test['Building_Painted'] = test['Building_Painted'].replace({'N': 1, 'V':0})

In [29]:
test['Building_Fenced'] = test['Building_Fenced'].replace({'N': 1, 'V':0})

In [30]:
test['Settlement'] = test['Settlement'].replace({'R': 1, 'U':0})

In [31]:
test['NumberOfWindows'] = labE.fit_transform(test['NumberOfWindows'])

In [32]:
test['Geo_Code'] = labE.fit_transform(test['Geo_Code'])

In [33]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   3069 non-null   int64
 1   Insured_Period      3069 non-null   float64
 2   Residential         3069 non-null   int64
 3   Building_Painted    3069 non-null   int64
 4   Building_Fenced     3069 non-null   int64
 5   Settlement          3069 non-null   int64
 6   Building Dimension  3069 non-null   float64
 7   Building_Type       3069 non-null   int64
 8   Date_of_Occupancy   3069 non-null   float64
 9   NumberOfWindows     3069 non-null   int32
 10  Geo_Code            3069 non-null   int32
dtypes: float64(3), int32(2), int64(6)
memory usage: 239.9 KB

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7160 non-null   int64
 1   Insured_Period      7160 non-null   float64
 2   Residential         7160 non-null   int64
 3   Building_Painted    7160 non-null   int64
 4   Building_Fenced     7160 non-null   int64
 5   Settlement          7160 non-null   int64
 6   Building Dimension  7160 non-null   float64
 7   Building_Type       7160 non-null   int64
 8   Date_of_Occupancy   7160 non-null   float64
 9   NumberOfWindows     7160 non-null   int32
 10  Geo_Code            7160 non-null   int32
 11  Claim               7160 non-null   int64
dtypes: float64(3), int32(2), int64(7)
memory usage: 615.4 KB

# SPLITING

In [35]:
X = train.drop('Claim', axis = 1)
y = train['Claim']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# TRAINING MODEL

In [36]:
from sklearn.linear_model import LogisticRegression

logm = LogisticRegression()

logm.fit(X_train, y_train)

LogisticRegression()

In [37]:
from sklearn.naive_bayes import GaussianNB

nm = GaussianNB()

nm.fit(X_train, y_train)

GaussianNB()

In [38]:
from sklearn.ensemble import RandomForestClassifier

rfm = RandomForestClassifier()

rfm.fit(X_train, y_train)

RandomForestClassifier()

In [39]:
from sklearn.svm import SVC

svm = SVC()

svm.fit(X_train, y_train)

SVC()

In [40]:
from sklearn.neighbors import KNeighborsClassifier

knc = KNeighborsClassifier()

knc.fit(X_train, y_train)

KNeighborsClassifier()

In [41]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [42]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()

gbc.fit(X_train, y_train)

GradientBoostingClassifier()

In [43]:
log_prediction = logm.predict(X_test)
nm_prediction = nm.predict(X_test)
rfm_prediction = rfm.predict(X_test)
svm_prediction = svm.predict(X_test)
knc_prediction = knc.predict(X_test)
dtc_prediction = dtc.predict(X_test)
gbc_prediction = gbc.predict(X_test)

from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test, log_prediction)*100

78.0027932960894

In [45]:
accuracy_score(y_test, nm_prediction)*100

76.8854748603352

In [46]:
accuracy_score(y_test, rfm_prediction)*100

77.44413407821229

In [47]:
accuracy_score(y_test, svm_prediction)*100

77.23463687150837

In [48]:
accuracy_score(y_test, knc_prediction)*100

75.06983240223464

In [49]:
accuracy_score(y_test, dtc_prediction)*100

68.08659217877096

In [50]:
accuracy_score(y_test, gbc_prediction)*100

78.28212290502793

In [51]:
gba = gbc.predict(test)
gba

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
ss.head()

  Customer Id  Claim
0          H0      1
1      H10000      1
2      H10001      1
3      H10002      1
4      H10003      1

In [53]:
test1 = pd.read_csv('test_data.csv')

In [55]:
Final = pd.DataFrame({'Customer Id': test1['Customer Id'], 'Claim': gba})

In [56]:
Final

     Customer Id  Claim
0         H11920      0
1         H11921      0
2          H9805      0
3          H7493      0
4          H7494      0
...          ...    ...
3064      H11583      0
3065      H11720      0
3066      H11721      0
3067      H12408      0
3068       H9021      0

[3069 rows x 2 columns]

In [57]:
Final.to_csv('my prediction.csv', index = False)

In [58]:
Final

     Customer Id  Claim
0         H11920      0
1         H11921      0
2          H9805      0
3          H7493      0
4          H7494      0
...          ...    ...
3064      H11583      0
3065      H11720      0
3066      H11721      0
3067      H12408      0
3068       H9021      0

[3069 rows x 2 columns]

In [59]:
import pickle

In [60]:
filename = 'insurance_prediction.sav'

In [61]:
pickle.dump(gbc, open(filename, 'wb'))

In [62]:
filename

'insurance_prediction.sav'

In [63]:
train1 = pd.read_csv('train_data.csv')

In [64]:
train1['Geo_Code'].value_counts()

6088     143
33063    137
6083     113
13206     98
31555     87
        ...
59650      1
59656      1
60057      1
60172      1
2B353      1
Name: Geo_Code, Length: 1307, dtype: int64